/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/clipseq -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data and options
  // TODO: Update paths once uploaded to AWS
  input         = '/Users/bdpeck/G1S1_ME_L001_R1_001.fastq.gz'
  smrna_org     = 'human'
  fasta         = '/Users/bdpeck/gencode.v44.transcripts.fa'
  gtf           = '/Users/bdpeck/gencode.v44.basic.annotation.gtf'
  move_umi      = 'NNNNN'
  umi_separator = '_'
  peakcaller    = 'piranha'
}
